*{
	padding: 0;
	margin:10px;
}

body {
	background:#FFFFaa url(green1.png);

}

li {
	list-style-image: url(knitting24.png)
}

h1 {
	text-align: center ;
	font-family:"Times New Roman";
	font-style: italic;
	font-size: 30px;
	color: #ca2e0f;
}

h2{
	color:#cc462c;
}

h3{
	color:#a44900;
}
p{
	color: green;
}

#fon {
	background: #FFFFaa url(13-1.png) ; 
}

.conteyner {

	border-color: green;
	border-style: ridge;
	border-width: 10px 10px 5px;
	background: #05b00c;
	background: radial-gradient(#26b01e,#26781e); 
	margin: 0;
	padding-top:20px;
	width: 100%;
	height: 90px;
	text-align: center ;
	font-family: "Monotype Corsiva";
	font-size:24px;

}
	
.conteyner > a {
	color: red;

}	

.conteyner img {
	background: #05b00c
	border-color: none;
	border-style: none;
	padding-top:0;
	margin:20;
	float : left;
	width: 90px;
	height: 90px;
		
}

a:hover {
	color:#fae6b4;
}

nav{
	border-color: green;
	border-style: ridge;
	border-width: 4px;
	background: #05b00c;
	background: radial-gradient(#26781e, #26b01e); 
	margin: 0;
	width: 100%;
	height: 50px;
	text-align: center ;
	font-family: "Monotype Corsiva";
	font-size:24px;
	color: red;

}

nav a:hover {
	color:#fae6b4;
}

.menu {

	border-color: green;
	border-style: ridge;
	border-width: 5px 10px 10px;
	background: #05b00c;
	padding-top:20px;
	margin: 0;
	width: 100%;
	height: 50px;
	text-align: center ;
	font-family: "Monotype Corsiva";
	font-size:24px;
	color: red;
}

.menu >a {
	color: red;
}
.menu a:hover {
	color:#fae6b4;
}

img  {
	border-color: green;
	border-style: dotted;
	border-width:3px;
}

img:hover {
	border: none;
}

hr {
	border-color: green;
	border-style: ridge;
	border-width: 2px;
	
}

.box-sizing{
	width: 100%;
	height: 500px;
	border-color: green;
	border-style: ridge;
	border-width: 2px;
	
	background:  url("Рогожка 3.jpg");
	background-attachment:fixed;
	margin: 0;
	text-align: justify;
	font-family:Times;
	font-size:20px;
	color: black;
}
.box-sizing >p {
	color:black;
}

.box-sizing p:first-letter{
	color:red;
	font-size: 45px;
	font-family: Times;
	font-style: italic;
}

.box-sizing img{
	background-color: none;
	border-color: none;
	border-style: none;
	margin: 15px;
	float : left;
	width: 300px;
	height:300px;
	
}